$dark-font: #056676;
$light-font: #5EAAA8;
$pink-back: lightpink;
$pinky-back: pink;
$sand-back: sandybrown;
$brown-back: burlywood;
$lila-back: thistle;
$gris: #DDDDDD;
$green: #22EAAA;
$yellow: yellow;
$black: black;
