$dark-font: #056676;
$light-font: #5EAAA8;
$baby-blue: #b8d8d8;
$pink-back: lightpink;
$pinky-back: pink;
$sand-back: sandybrown;
$brown-back: burlywood;
$lila-back: thistle;
$gris: #DDDDDD;
$green: #22EAAA;
$soft-green: #d5e5a3;
$yellow: yellow;
$soft-yellow: #ffe28c;
$black: black;
$orange: #ff8f5e;
$brown: #d6c1ab;