@import "mixins";
@import "colores";

.compromiso {

    h2 {
        color: $dark-font;
        @include center;
    }

    ul {
        color: $black;

        li {
            @include lis;
            line-height: 1.8rem;
        }

    }

}