@import "colores";

.imagen-adulto1{
    transform: rotate(18deg);
    border-style: solid;
    border-color: $soft-yellow;
    padding: 0.5rem 0.5rem;
    &:hover {
        transform: rotate(-18deg);
    }
}

.imagen-adulto2 {
    transform: rotate(-5deg);
    border-style: solid;
    border-color: $soft-yellow;
    padding: 0.5rem 0.5rem;
    &:hover {
        transform: rotate(5deg);
    }
}

.imagen-adulto3 {
    transform: rotate(15deg);
    border-style: solid;
    border-color: $soft-yellow;
    padding: 0.5rem 0.5rem;
    &:hover {
        transform: rotate(-15deg);
    }
}

.welcome {
    .welcome__title--uppercase {
        text-transform: uppercase;
    }
}