@import "tipografias";

@media (max-width: 768px) {

    body {
        text-align: center;
    }

    .button--clases .button--niños .button--adultos .button--info .button--contacto {
        padding: 13px 50px 13px;
    }

    .card.card-just-text .content {
        padding: 10px 10px;
        text-align: center;
        height: auto;
    }

    .bird {
        display:none;
    }

    .videoGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "uno dos"
            "tres cuatro"
            "cinco seis"
        ;
    }

    .video1 {
        grid-area: "uno";
    }

    .video2 {
        grid-area: "dos";
    }

    .video3 {
        grid-area: "tres";
    }

    .video4 {
        grid-area: "cuatro";
    }

    .video5 {
        grid-area: "cinco";
    }

    .video6 {
        grid-area: "seis";
    }

}

@media only screen and (max-width:599px) {

    .big-heading {
        text-align: center;
        font-size: 3rem;
    }

    .bird {
        display: none;
    }

    .img-fluid {
        text-align: center;
    }

    .presentation {
        display: none;
    }

    .btn {
        width: 100%;
    }

    .button--niños,
    .button--adultos {
        width: 100%;
        margin: 20px 0 0 0;
    }

    .card {
        width: 100%;
    }

    .videoGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:
            "uno"
            "dos"
            "tres"
            "cuatro"
            "cinco"
            "seis"
        ;
    }

    .video1 {
        grid-area: "uno";
    }

    .video2 {
        grid-area: "dos";
    }

    .video3 {
        grid-area: "tres";
    }

    .video4 {
        grid-area: "cuatro";
    }

    .video5 {
        grid-area: "cinco";
    }

    .video6 {
        grid-area: "seis";
    }
}
