@import "colores";
@import "mixins";

.arrow {
    @include md-icon-size;
}

iframe {
    margin: 1rem;
}

.videoGrid {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
        "uno dos tres"
        "cuatro cinco seis";
}

.video1 {
    grid-area: "uno";
}

.video2 {
    grid-area: "dos";
}

.video3 {
    grid-area: "tres";
}

.video4 {
    grid-area: "cuatro";
}

.video5 {
    grid-area: "cinco";
}

.video6 {
    grid-area: "seis";
}